<div class="row text-start">
    <div class="col-md-4 d-none d-md-block">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action active" href="#list-item-1">How it works?</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Does this violate developer policies?</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Can I add my paid apps?</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Which markets are allowed?</a>
      </div>
    </div>
    <div class="col-12 col-md-8 bg-secondary text-white">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scroll-area scrollspy-container" tabindex="0">

        <span id="list-item-1">&nbsp;</span>
        <h4>How it works?</h4>
        <p>
          You submit a review, you get a review.
          Just log in on SmoothReviews.net with your mobile device and
          we will provide you with apps to review.
          <br><br>
          After uploading a screenshot of your review and a screenshot of the app you've reviewed,
          you'll earn 1 point. If someone reviews your application, you will lose one point.
          You can submit as many reviews as you want.
        </p>
<br><br>
        <span id="list-item-2">&nbsp;</span>
        <h4>Does this violate developer policies?</h4>
        <p>
          SmoothReviews.net is just a way to show your app to other developers and give each other honest feedback.
          You do not pay for reviews and there is no guarantee of a 4 or 5 star review.
          There is not even a guarantee you will get any reviews at all.
          Developers simply see a list of apps they 'can' leave a honest review to.
          It is up to them to review your app.
          You don't necessarily get reviews from the developers you give a review to.
          <br><br>
          Even though we haven't heard of any developers having issues for using smoothreviews.net,
          we cannot control how other companies such as Google and Apple enforce their rules.
          You use SmoothReviews.net at your own risk.
        </p>
<br><br>
        <span id="list-item-3">&nbsp;</span>
        <h4>
          Can I add my paid apps?</h4>
        <p>Yes, you can add your paid app to the system.<br>
            But on the app review section, 'Show free apps only' option is ON by default.<br><br>
          So if you want your app to get reviews from more people,
          you can provide a custom code for Apple
            (<a target="_blank" href="https://help.apple.com/app-store-connect/#/dev6a098e4b1">how to</a>),
             or a list of promotion codes(One-time use codes) for Google
            (<a target="_blank" href="https://support.google.com/googleplay/android-developer/answer/6321495?hl=en#zippy=%2Cstep-set-up-a-promotion-in-play-console">how to</a>)
            that will let users download your app for free.
        </p>

        <span id="list-item-4">&nbsp;</span>
        <h4>Which markets are allowed?</h4>
        <p>Currently we support Google Play Store and Apple App Store.
            You can also review apps from one store
            and use the points you earn to get reviews
            for an app on the other store.</p>
      </div>
    </div>
  </div>