{% extends "base-wrapper-single-row.html" %}
{% block title %}Forgot Your Password?{% endblock %}
{% block simple-content %}
<h5 class="card-title text-center m-4 pb-4">Log In</h5>
<form method="post">
  {% csrf_token %}
  <div class="mb-3 row">
    <label for="id_email" class="col-sm-3 col-form-label">E-mail</label>
    <div class="col-sm-8">
      <input type="email" name="email" class="form-control" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" required="" id="id_email" data-scan="pc">
    </div>
  </div>
<!--  {{ form.as_p }}-->
<button class="btn btn-primary" type="submit">RESET PASSWORD</button>
</form>
{% endblock %}