{% extends "base_wrapper_single_row.html" %}
{% load custom_tags %}
{% block title %}Change Your Password{% endblock %}
{% block simple-content %}
  <h1 class="m-4 fs-4"><a href="/">{% get_setting "SITENAME_PRETTY" %}</a></h1>
  <h2 class="m-4">Change Your Password</h2>
    {% if validlink %}
    <p class="text-start w-75 mc">Please enter (and confirm) your new password.</p>
    <form class="text-start" action="" method="post">
        {% csrf_token %}
        <div class="w-75 mc">
            <label for="id_new_password1" class="form-label">New password: </label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            {% include "form_errors.html" with errors=form.new_password1.errors %}
        </div>

        <div class="w-75 mc">
            <label for="id_new_password2" class="form-label">Confirm password: </label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            {% include "form_errors.html" with errors=form.new_password2.errors %}

        </div>
        <div class="w-75 mc">
            <button type="submit" class="btn btn-primary my-3 btn-lg btn-block" formnovalidate>
                Change my password
            </button>
        </div>
    </form>
    {% else %}

    <div class="col-12 mx-auto">
        <h1 class="text-center text-danger">Password reset failed</h1>
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    </div>
    {% endif %}

{% endblock %}